.projects-page {
  min-height: 100vh;
  background-color: inherit;
  width: 80%;
  padding: 0 2em;
  margin: auto;
  text-align: center;
  padding: 10px;
}

@media screen and (max-height: 700px) {
  .project-page {
    height: 150vh;
  }
}

.project-board-project-container {
  background-color: rgba(32, 32, 3);
  height: 624px;
  margin-bottom: 50px;
  border-radius: 20px;
}
